* {
    box-sizing: border-box;
}
    
    body {
    text-align: center;
    background-image: url("https://t4.ftcdn.net/jpg/05/09/40/07/360_F_509400712_Yv1QEGh7RZXQJJYjthPjrs6Htm69vJ2u.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
        width: 80%;
        margin: auto;
}

h1 {
	font-size: 64px;
    font-family: sans-serif;
}

.search {
    margin: auto;
    padding: 20px;
    background-color: lightgreen;
}

.login {
    margin-top: 20px;
    font-size: 24px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: lightgreen;
    color: darkgreen;
}

input {
    width: 75%;
    padding: 5px;
}

.nav {
    width: 80%;
    margin: auto;
    border: 2px solid white;
}

.navbar {
	display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: #CC4242;
}

.navbar p {
    color: white;
}

h3 {
	display: none;
    font-size: 24px;
    font-family: sans-serif;
}

.row {
    display: none;
	margin: auto;
}

.column {
  float: left;
    margin: auto;
  width: 50%;
  padding: 10px;
}

.column2 {
    float: right;
    margin: auto;
  width: 50%;
  padding: 10px;
}

.column h2, .column2 h2 {
    background-color: #CC4242;
    padding: 20px;
}

.dm {
    background-color: #FFF7C2;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.dm img {
    width: 150px;
    border-radius: 100px;
}

.about-us {
    display: none;
    color: white;
}

.about-us h2  {
    font-size: 36px;
    font-family: sans-serif;
}

.about-us p {
    font-size: 24px;
    font-family: sans-serif;
}


#about:hover , #home:hover {
    color: lightgreen;
}